@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #F5CE51;
  margin-left: 60px;
  margin-right: 60px;
  display: grid;
  grid-template-columns: 1fr 2fr 300px;
  grid-template-rows: 1fr auto;
  grid-template-areas: "headermsg";
}

.headercontainer {
  background-color: #4396CB;
  margin-left: 10px;
  margin-right: 10px;
  grid-area: headermsg;
  grid-column: 1/4;
  text-align: center;
  color: yellow;
  padding: 30px;
  font-size: 40px;
  text-shadow: 3px 3px #000000;
  font-family: 'Fredoka One', cursive;
}

.numberpad {
  margin-left: 30px;
  margin-right: 30px;
}

.number-dashboard {}

.lottery_image {
  margin-left: 10px;
}

.grid-container {
  display: grid;
  background-color: #2289c9;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 5px;
}

.grid-container>button {
  background-color: black;
  color: yellow;
  margin: 5px;
  padding: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
}

.grid-container>button:hover {
  border-color: hotpink;
}

.cashout {
  grid-column: 3/5;
  border-color: silver;
  background-color: yellow;
}

.clearout {
  grid-column: 5/7;
  border-color: silver;
  background-color: yellow;
}

.total-component {
  background-color: #4396CB;
  padding: 15px;
  margin-right: 10px;
}

.show-component {
  background-image: linear-gradient(to bottom, orange, #F5CE51);
  height: 400px;
}

.show-component>header {
  font-size: x-large;
  font-weight: bold;
}

.show-component>footer {
  font-size: x-large;
  font-weight: bold;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(158, 158, 158, 0.7);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.modal-container {
  width: 700px;
  height: 300px;
  margin: 0px auto;
  /* padding: 100px 32px; */
  display: grid;
  grid-template-rows: 20% auto;
  grid-template-columns: 60% auto;
  grid-template-areas: "mh mh" "mb mb";
}

.modal-header {
  background-color: #e67926;
  grid-area: mh;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  padding-left: 20px;
  font-size: 40px;
}

.modal-body {
  grid-area: mb;
  background-color: #3274B9;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  padding-left: 20px;
  color: white;
  display: grid;
  grid-template-columns: 70% auto;
}

#modal-calculator {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(73, 69, 69);
  border-radius: 5px;
  justify-self: left;
  margin: 5px;
  box-shadow: 0px 5px #094483;
  border-style: hidden;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

#modal-calculator-clear {
  background-color: pink;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  justify-self: left;
  margin: 5px;
  box-shadow: 0px 5px rgb(252, 139, 158);
  border-style: hidden;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

#header {
  margin-bottom: 20px;
}

.modal-body>h3 {
  padding-bottom: 20px;
}

.modal-form {
  color: white;
}

.modal-form>label {
  padding-right: 10px;
}

.modal-form>button {
  background-color: #F4D448;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
}

.modal-form>input {
  background-color: #3274B9;
  height: 30px;
  width: 150px;
}

#confirm-button {
  margin-right: 150px;
  margin-top: 30px;
}

.hide {
  display: none;
}

#received, #change {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: none;
  font-size: 20px;
  padding-right: 70px;
}

#total {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: none;
  font-size: 20px;
  padding-right: 70px;
}

.form-control {
  color: white;
  font-size: 20px;
}

.icon-cursor {
  cursor: pointer;
}

.icon-size-small {
  font-size: small;
}

.grid-x-right {
  justify-self: right;
}

.button-clicked {
  border-color: white;
}

.button-notClicked {
  border-color: red;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-x-bottom {
  justify-self: right;
  padding-top: 200px;
}